//<МИКСИНЫ>=================================
@import "mixins";
//</МИКСИНЫ>=================================

//<ШРИФТЫ>=================================

//<Подключаем шрифты>=================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=================================

//<Иконочные шрифты>=================================
@import "icons";
//</Иконочные шрифты>=================================

//<Swiper>=================================
@import "swiper";
//</Swiper>=================================

//<Шрифт по умолчанию>=================================
$fontFamily: "Gilroy";
$fontSize: 16px;
//</Шрифт по умолчанию>=================================

//</ШРИФТЫ>=================================

//<ПЕРЕМЕННЫЕ>=================================
$minWidth: 320;
$maxWidth: 1440; //ширина полотна
$maxWidthContainer: 1270; //ограничивающий контейнер 1240 +30 pading
$md1: $maxWidthContainer; //1092px
$md2: 991.98;
$md3: 767.98;
$md4: 639.98;
$md5: 479.98;

$mainColor: #3a3a3a;
$orangeColor: #e89f71;
$grayColor: #898989;
$darkGrayColor: #616161;
//</ПЕРЕМЕННЫЕ>=================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================

//<ОБОЛОЧКА>=================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}
//</ОБОЛОЧКА>=================================

//<ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР>=================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0px auto;
	padding: 0px 15px;
	// @media (max-width: ($md3+px)) {
	// 	padding: 0 10px;
	// }
	// @media (max-width: ($md4+px)) {
	// 	padding: 0px 5px;
	// }
}
//</ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================
//@import "datepicker";
//@import "lightgallary";
@import "popup";
@import "header";
@import "footer";
// @import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================

//<ОСНОВНОЙ БЛОК>=================================
.page {
	flex: 1 1 auto;
	// .page__main-slider
	&__main-slider {
	}
}
.main-slider {
	background-color: #fcf8f3;
	// .main-slider__container
	&__container {
		position: relative;
		z-index: 1;
		@media (min-width: ($md2+px)) {
			&::before {
				content: "";
				top: 0;
				right: 376px;
				width: 100vw;
				height: 100%;
				position: absolute;
				background-color: #f9f1e7;
			}
		}
	}
	// .main-slider__body
	&__body {
		padding: 140px 0px 0px 0px;
		position: relative;
		z-index: 2;
		@media (max-width: ($md2+px)) {
			padding: 80px 0px 0px 0px;
		}
		@media (max-width: ($md3+px)) {
			padding: 50px 0px 0px 0px;
		}
		@media (min-width: ($md2+px)) {
			display: flex;
		}
	}
	// .main-slider__content
	&__content {
		align-self: flex-start;
		flex: 0 0 calc(494 / 1240 * 100%);
		@include adaptiv-value("margin-bottom", 80, 14, 1);
	}
	// .main-slider__slider
	&__slider {
		flex: 1 1 auto;
		min-width: 0;
		align-self: flex-end;
		@media (min-width: ($md2+px)) {
			padding: 0px 0px 0px 32px;
		}
	}
}
.content-main {
	position: relative;
	z-index: 5;
	padding-right: 15px;
	padding-left: 15px;
	@include adaptiv-value("padding-top", 60, 15, 1);
	@include adaptiv-value("padding-bottom", 60, 15, 1);
	background-color: rgba(255, 255, 255, 0.72);
	@media (min-width: ($md2+px)) {
		@include adaptiv-value("padding", 60, 1, 1);
		background-color: rgba(255, 255, 255, 0.9);
		// Если браузер поддерживает backdrop-filter
		@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
	}
	// .content-main__title
	&__title {
		@include adaptiv-value("font-size", 56, 24, 1);
		font-weight: 700;
		line-height: 120%; /* 67.2px */
		&:not(:last-child) {
			margin: 0px 0px calc(16px / 56px * 1em) 0px;
		}
	}
	// .content-main__text
	&__text {
		@include adaptiv-value("font-size", 20, 16, 1);
		font-weight: 500;
		color: $grayColor;
		line-height: 150%;
		&:not(:last-child) {
			margin: 0px 0px calc(48px / 20px * 1em) 0px;
		}
	}
	// .content-main__button
	&__button {
		@include adaptiv-value("min-height", 78, 45, 1);
		@include adaptiv-value("font-size", 20, 16, 1);
		font-weight: 600;
		background-color: $orangeColor;
		color: #fff;
		width: 100%;

		@media (any-hover: hover) {
			&:hover {
				background-color: #e55f0c;
			}
		}
	}
}
.slider-main {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	// .slider-main__controls
	&__controls {
		align-self: stretch;
		margin: 0px 0px 20px 0px;
	}
	// .slider-main__body
	&__body {
		overflow: visible;
		@media (min-width: ($md2+px)) {
			@include adaptiv-value("width", 934, 290, 1);
		}
	}
	// .slider-main__slide
	&__slide {
		position: relative;
	}
	// .slider-main__image
	&__image {
		padding: 0px 0px 59.2% 0px;
	}
	// .slider-main__content
	&__content {
		position: absolute;
		display: flex;
		flex-direction: column;
		color: inherit;
		min-width: 295px;
		max-height: 300px;
		overflow: auto;
		@include adaptiv-value("padding", 24, 14, 1);
		background: rgba(255, 255, 255, 0.9);
		@media (min-width: ($md3+px)) {
			// position: absolute;
			min-width: 350px;
			@include adaptiv-value("bottom", 40, 0, 1);
			@include adaptiv-value("right", 40, 0, 1);
			background-color: rgba(255, 255, 255, 0.9);
			// Если браузер поддерживает backdrop-filter
			@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
				background: rgba(255, 255, 255, 0.72);
				backdrop-filter: blur(31px);
			}
		}
	}
	// .slider-main__title
	&__title {
		font-size: 28px;
		@include adaptiv-value("font-size", 28, 22, 1);
		font-weight: 600;
		line-height: 120%; /* 33.6px */
		&:not(:last-child) {
			margin: 0px 0px calc(4px / 28px * 1em) 0px;
		}
	}
	// .slider-main__text
	&__text {
		color: $darkGrayColor;
		font-weight: 500;
		line-height: 150%; /* 24px */
		&:not(:last-child) {
			margin: 0px 0px calc(8px / 16px * 1em) 0px;
		}
	}
	// .slider-main__price
	&__price {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		@include adaptiv-value("font-size", 20, 16, 1);
		font-weight: 600;
		line-height: 150%; /* 30px */
		&::before {
			margin: 0px 0px 0px 10px;
			font-size: 14px;
		}
	}
}
.controls-slider-main {
	display: flex;
	// justify-content: space-between;
	align-items: center;
	// .controls-slider-main__dotts
	&__dotts {
		flex: 1 1 auto;
	}
	// .controls-slider-main__arrows
	&__arrows {
	}
}
//<ХЛЕБНЫЕ КРОШКИ>======================================================================
/* .breadcrumbs {
	overflow: auto;
	margin: 0px 0px 20px 0px;
	height: 20px;
	// .breadcrumbs__list
	&__list {
		display: flex;
		align-items: center;
		white-space: nowrap;
		li {
			margin: 0px 10px 0px 0px;
			padding: 0px 20px 0px 0px;
			background: url("../img/icons/arrow_text.png") right / 10px no-repeat;
			&:last-child {
				margin: 0px 0px 0px 0px;
				background: none;
			}
		}
	}
	// .breadcrumbs__link
	&__link {
		color: #1ab9ce;
		text-decoration: underline;
	}
	// .breadcrumbs__item
	&__item {
		color: 999px;
		font-weight: 300;
	}
} */
//</ХЛЕБНЫЕ КРОШКИ>======================================================================

//</ОСНОВНОЙ БЛОК>======================================================================
